@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}
@{
    ViewData["Title"] = "User Page";
}
@{
    Layout = "_LoginLayout";
}
<div class="wrapper">
        <div class="title-text">
            <div class="title login">Login Form</div>
            <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="login" checked>
                <input type="radio" name="slider" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slide-tab"></div>
            </div>
            <div class="form-inner">
                <form action="#" class="login">
                    <div class="field">
                        <input type="text" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" required>
                    </div>
                    <div class="pass-link">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div class="field">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <form action="#" class="signup">
                    <div class="field">
                        <input type="text" placeholder="First Name">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <div class="field">
                        <input type="email" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" req>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm password" req>
                    </div>
                    <div class="field">
                        <input type="submit" value="Signup">
                    </div>
                </form>
            </div>
        </div>
    </div>